header {
    background: #000;
    width: 100%;

    .container {

        .header_top {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0;

            .logo {
                margin: 10px 0px 8px 0px;
                padding-left: 25px;

                img {
                    width: 170px;
                }
            }

            .header_right {
                .content {
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 40px;
                    align-items: center;
                    gap: 20px;

                    .shop {
                        i {
                            color: white
                        }

                        span {
                            @include text($fs-l, $fw-3, $lh-36, $c-white);
                        }
                    }

                    a {
                        text-decoration: none;
                        @include text($fs-l, $fw-3, $lh-19, $c-white);
                    }
                }
            }
        }



    }

    @media (max-width: 1024px) {
        .header_right {

            .content {
                background-color: red;
                display: none !important;
            }
        }
    }
}