.home {
    width: 100%;

    #carouselExampleControls {

        @media (max-width: 1024px) {
            height: 375px !important;

            .carousel-inner {
                .carousel-item {
                    .row {
                        .product_img {
                            width: 500px !important;
                            cursor: pointer;
                            margin: 0 auto;
                            overflow: hidden;

                            img {
                                width: 100% !important;
                            }
                        }

                        .tital {
                            display: none !important;
                        }
                    }
                }
            }
        }

        .carousel-inner {
            .carousel-item {
                .row {
                    justify-content: center;
                    align-items: center;

                    .product_img {
                        height: 530px;
                        text-align: right;

                        img {
                            width: 689px;
                            text-align: center;
                        }
                    }

                    .tital {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        text-align: left;

                        div {
                            padding: 0 40px;

                            .tital_Name {
                                @include text ($fs-2xl, $fw-6, $lh-48, $c-dark);
                            }

                            .titail_desc {
                                @include text ($fs-l, $fw-4, $lh-24, $c-dark);
                                margin: 30px 0
                            }

                            a {
                                text-align: center;
                                @include button($fs-l, $fw-6, $lh-29, $c-dark, #eabf25, 10px 20px, 1px solid, 4px, #eabf25, $c-dark);

                                &:hover {
                                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .feature-home {
        margin-bottom: 50px;

        h2 {
            @include text ($fs-2xl, $fw-7, $lh-48, $c-dark);
            text-align: left;
            margin-bottom: 20px;
        }

        .gird-containar {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 320px);
            column-gap: 10px;
            row-gap: 20px;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: 320px) {
                grid-template-columns: repeat(1, auto);
            }

            @media screen and (min-width: 768px) {
                grid-template-columns: repeat(2, 320px);
            }

            /*Ipad ngang(1024 x 768)*/
            @media screen and (min-width: 1024px) {
                grid-template-columns: repeat(3, 320px);
            }

        }
    }




}