.home {
    width: 100%;

    #carouselExampleControls {
        height: 530px;

        .carousel-inner {
            .carousel-item {
                .row {
                    justify-content: center;
                    align-items: center;
                    height: 530px;

                    .product_img {
                        height: 530px;
                        text-align: right;

                        img {
                            width: 689px;
                            text-align: center;
                        }
                    }

                    .tital {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        text-align: left;

                        div {
                            padding: 0 40px;

                            .tital_Name {
                                @include text ($fs-2xl, $fw-6, $lh-48, $c-dark);
                            }

                            .titail_desc {
                                @include text ($fs-l, $fw-4, $lh-24, $c-dark);
                                margin: 30px 0
                            }

                            a {
                                text-align: center;
                                @include button($fs-l, $fw-4, $lh-29, $c-dark, $bg-yew, 12px 24px, 1px solid, 16px, $c-white, $c-dark);

                            }
                        }
                    }
                }

            }
        }
    }

    .feature-home {
        padding: 50px 0;

        h2 {
            @include text ($fs-2xl, $fw-7, $lh-48, $c-dark);
            width: 700px;
            text-align: left;
            margin-bottom: 20px;
        }

        .gird-containar {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 320px);
            column-gap: 10px;
            row-gap: 20px;

            // @media (min-width:1280px) {
            //     grid-template-columns: repeat(3, 320px);
            //     justify-content: center;
            //     align-items: center;
            // }

            @media (min-width:786px) and (max-width:1280px) {
                grid-template-columns: repeat(2, 320px);
                justify-content: center;
                align-items: center;
            }
        }
    }
}