.login {
    margin-top: 60px;

    h2 {
        @include text ($fs-2xl, $fw-7, $lh-48, $c-dark)
    }

    hr {
        margin: 40px 0;
    }

    form {
        max-width: 800px;
        margin: 0 auto;

        .form-group {
            p {
                @include text ($fs-m, $fw-5, $lh-24, rgba(0, 0, 0, 0.6));
                margin-bottom: 10px;
            }

            input {
                background: $c-white;
            }

            .error_text {

                @include text ($fs-m, $fw-5, $lh-24, RED);
            }
        }

        #css_password {


            input {
                border-right: none;
                background: $c-white;
            }

            span {
                border-left: none;
                background: $c-white;
            }
        }


        .form-bottom {
            margin-top: 40px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            a {
                margin: 20px 0;
                @include text ($fs-m, $fw-5, $lh-24, rgba(21, 42, 235, 0.8));
                border: 1px solid rgba(21, 42, 235, 0.8);
                padding: 15px 20px;
                border-radius: 16px;
            }

            button {
                margin: 20px 0;
                gap: 10px;
                @include button ($fs-m, $fw-6, $lh-24, $c-white, #eabf25, 16px 40px, 1px solid #eabf25, 16px, rgba(0, 0, 0, 0), #eabf25);
            }
        }
    }
}