.profileMobile {
    padding: 0 20px 60px;
    width: 100%;
    text-align: center;

    .profile-info {
        position: relative;
        padding-top: 20px;

        h1 {

            @include text ($fs-l, $fw-6, $lh-29, white);
        }

        .proflie-img {
            margin: 0 auto;
            width: 200px;
            height: 200px;

            img {
                width: 100%;
                border-radius: 50%;

            }
        }

        &::before {
            content: "";
            position: absolute;
            background-color: black;
            width: 100%;
            height: 150px;
            z-index: -1;
            top: 0;
            left: 0;
            border-radius: 62px 62px 0 0;
        }
    }

    .profile-general {
        h3 {
            @include text($fs-l, $fw-5, $lh-29, $c-dark);
        }
    }

    .orderDetail {
        h4 {
            @include text($fs-m, $fw-4, $lh-19, $c-dark);
        }

        table {
            thead {
                tr {
                    th {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}